.form {
    border-radius: 10px;
    /* margin-top: 8%; */
    width: 70%;
    margin: 47px auto;
    /* height: 408px; */
    text-align: center;
    background:#F5F5F5;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 21%);
    display: flex;
    flex-direction: row;

}

.form div{
    width: 50%;
    padding: 15px;
}

.other_input{
    border: none;
    border-bottom: 2px solid  #326EF5;;
    width: 80%;
    margin-top: 15px;
    height: 50px;
    outline: none;
}
#img_produit{
    /* color: #326EF5; */
    border: none;
    margin-top: 30px !important;
    margin-bottom: 5px;
    transition: 0.4 ease-in-out;
    border-radius: 4px;
    padding: 10px 10px;
}
#img_produit::file-selector-button:hover{
    background: #326EF5;
    border: 1px solid #326EF5;
    border-radius: 4px;
    cursor: pointer;
}

.other_input[type="submit"]{
    width: 50%;
    color: white;
    background-color: #38b6ff;
}

textarea{
    width: 80%;
}

label{
    cursor: pointer;
}

@media only screen and (max-width : 800px) {
    .form{
        flex-direction: column;
    }

    .form div{
        width: 100%;
        padding: 15px;
    }

    input{
        width: 100%;
    }
}
