.form {
    display: flex;
    flex-direction: row;
    align-items : center;
    /* margin-top: 8%; */
    width: 70%;
    margin: 47px auto;
    border-radius: 10px;
    /* height: 408px; */
    text-align: center;
    background:#F5F5F5;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 21%);
}

.form div{
    width: 50%;
    padding: 15px;
}

.other_input{
    border: none;
    border-bottom: 2px solid  #326EF5;;
    width: 80%;
    margin-top: 15px;
    height: 50px;
    outline: none;
}
#img_produit{
    /* color: #326EF5; */
    border: none;
    margin-top: 30px !important;
    margin-bottom: 5px;
    transition: 0.4 ease-in-out;
    border-radius: 4px;
    padding: 10px 10px;
}
#img_produit::file-selector-button:hover{
    background: #326EF5;
    border: 1px solid #326EF5;
    border-radius: 4px;
    cursor: pointer;
}

.other_input[type="submit"]{
    width: 50%;
    color: white;
    background-color: #38b6ff;
}

textarea{
    width: 80%;
}

label{
    cursor: pointer;
}

@media only screen and (max-width : 800px) {
    .form{
        flex-direction: column;
    }

    .form div{
        width: 100%;
        padding: 15px;
    }

    input{
        width: 100%;
    }
}

.wrap {
    height: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.button {
    width: 140px;
    height: 45px;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.button:hover {
    background-color: #38B6FF;
    box-shadow: 0px 15px 70px #38b6ff;
    color: #fff;
    transform: translateY(-7px);
}